*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color:#fff;
}
#header{
    width:100%;
    height:100vh;
    background-image:url("aksh0506/akshay-portfolio/blob/main/AI.PNG") ;
    background-size: cover;
    background-position: center;
}
img{
    border-radius: 50%;
}
.container{
    padding: 10px 10%;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}

.logo{
    width:140px;
    float:left;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:0px 20px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
    transform: scale(1.1);
}
nav ul li a:hover::after{
    width: 100%;
}

.fa-bars {
  position: fixed; /* Fixed position */
  top: 50px; /* Distance from the top */
  right: 30px; /* Distance from the right */
  font-size: 24px; /* Icon size */
  z-index: 1000; /* Ensure it's above other elements */
}

.header-text{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 100px;
  }
  
  .header-text h1:nth-child(1) {
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin: 0 500 0 35%;
    text-align: 20px;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    animation: type 2s steps(40,end) forwards;
  }
  
  .header-text h1:nth-child(2) {
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    margin: 0 500 auto auto;
    background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
    font-weight: 800;
    font-size: 90px;  
    width: 430px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
  }

  h1 {
    font-size: 9vmin;
    color: #8bf;
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
  }
  
  /* Typewriter effect 1 */
 /* @keyframes typing {
    1.1395%, 26.2093% { content: "m"; }
    2.2791%, 25.0698% { content: "ma"; }
    3.4186%, 23.9302% { content: "man"; }
    4.5581%, 22.7907% { content: "manu"; }
    5.6977%, 21.6512% { content: "manua"; }
    6.8372%, 20.5116% { content: "manual"; }
    7.9767%, 19.3721% { content: "manual te"; }
    9.1163%, 18.2326% { content: "manual test"; }
    10.2558%, 17.0930% { content: "manual tester"; }
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "auto"; }
    33.0465%, 49.0000% { content: "automa"; }
    34.1860%, 47.8605% { content: "automati"; }
    35.3256%, 46.7209% { content: "automation"; }
    36.4651%, 45.5814% { content: "automation tes"; }
    37.6047%, 44.4419% { content: "automation tester"; }
  
    54.6977%, 75.2093% { content: ""; }
    55.8372%, 74.0698% { content: "h"; }
    56.9767%, 72.9302% { content: "hu"; }
    58.1163%, 71.7907% { content: "hum"; }
    59.2558%, 70.6512% { content: "huma"; }
    60.3953%, 69.5116% { content: "human"; }
    61.5349%, 68.3721% { content: "human"; }

    78.6279%, 96.8605% { content: ""; }
    79.7674%, 95.7209% { content: "QA"; }
    80.9070%, 94.5814% { content: "QA an"; }
    82.0465%, 93.4419% { content: "QA ana"; }
    83.1860%, 92.3023% { content: "QA anal"; }
    84.3256%, 91.1628% { content: "QA analyst"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "writer"; }
      50% { content: "reader"; }
      75% { content: "human"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }*/
  
  
  @keyframes shring-animation {
    0% {
      background-position: 0 0;
      opacity: 0;
      width: 0;
    }
    1% {
      background-position: 0 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    50% {
      background-position: 150px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    100% {
      background-position: 400px 0;
      opacity: 1;
      border-right: 1px solid transparent;
    }
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    1%, 99%{
      border-right: 1px solid orange;
    }
    100%{
      border-right: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.btn12 {
    position: absolute;
    top: 480px;
    left: 300px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color:black;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    }
   /* .btn12:hover{
      background-color: #ff004f;
      color:white;
      border:#ff004f;
    }*/
    .btn12 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
    .btn12:hover {
      border: 1px solid;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      text-shadow: 1px 1px 2px #427388;
    }
    .btn12:hover span {
      padding-right: 25px;
    }
    .btn12:hover span:after {
      opacity: 1;
      right: 0;
    }
    .btn12 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
/* -------------------About ---------------- */
#about{
    padding: 100px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width:100%;
    border-radius:15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size:60px;
    font-weight:600;
    color:#fff;
}
.sub-title-text{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}
.sub-title-text-p{
  font-size: 15px;
    font-weight: 300;
}
.tab-titles {
    display:flex;
    margin:20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size:15px;
    font-weight:500;
    cursor:pointer;
    position:relative;
    color:#fff;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
    font-size: 15px;
}
.tab-contents ul li span{
    color:#ff004f;
    font-size: 18px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
.collapsible {
  background-color:transparent;
  color: #ff004f;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.active, .collapsible:hover {
  background-color: transparent;
}

.collapsible:after {
  content: '\002B';
  color: #ff004f;
  font-weight: bold;
  float: left;
  margin-right: 15px;
}

.active:after {
  content: "\2212";
}

.content {
  font-size: 15px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

/*----------------------------------TECHNICAL SKILLS--------------------*/
#services{
  padding:30px 0;
}
.services-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top: 50px;
}
.services-list div{
  background:#262626;
    padding:40px;
    font-size:18px;
    font-weight:300px;
    border-radius: 10px;
    transition:background 0.5s,transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size:40px;
  font-weight:600;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration:none;
  color:#fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background: #ff004f;
  transform: translateY(-10px);  
}

/*----------------------------------Projects------------------------------*/
#projects{
    padding:30px 0;
}
.project-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.project-list div{
    background:#262626;
    padding:40px;
    font-size:15px;
    font-weight:300px;
    border-radius: 10px;
    transition:background 0.5s,transform 0.5s;
}
.project-list div h2{
    font-size:30px;
    font-weight:600;
    margin-bottom: 15px;
}
.project-list div a{
    text-decoration:none;
    color:#fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*---------------PORTFOLIO---------------------*/
#portfolio{
    padding:50px 0;
}
.skill-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.skill{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}
.skill img{
    width:100%;
    padding:5px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight:500;
    margin-bottom: 20px;
}
.layer a{
    margin-top:20px;
    color:#ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width:60px;
    height:60px;
    border-radius: 50%;
    text-align: center;
}
.skill:hover img{
    transform: scale(1.1);
}
.skill:hover .layer{
    height:100%;
}
.hovertext{
  font-size: 20px;
}
.btn{
    display:block;
    margin:50px auto;
    width:1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration:none; 
    color:#fff;
    transition:background 0.5s;
}
.btn:hover{
    background:#ff004f;
}

/*-------------CONTACT-----------------*/
.buttons {
  width: 960px;
  margin: 0 auto;
  display:inline;
}
  
.action_btn {
  width: 500px;
  margin: 0 auto;}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact{
  font-size: 20px;
}
.contact p{
  text-decoration:none;
  font-size: 30px;
  margin-right:15px;
  color:#ababab;
  display: inline-block;
  transition:transform 0.5s;
}
.contact p:hover{
  transform:translateY(-5);
}

.btn2 {
  display: inline-block;
  margin: 25px 25px;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  background-color: inherit;
  font-size: 24px;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 10rem;
  z-index: -2;
}
.btn2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ff004f;
  transition: all 0.5s;
  border-radius: 10rem;
  z-index: -1;
}
.btn2:hover {
  color: #fff;
  transition: all 0.7s;
}
.btn2:hover:before {
  width: 100%;
}
.btn.btn21{
   font-size: 24px;
    display:inline-block;
    background:inherit;
    border-color: #ff004f;
    width: auto;
    margin: 25px 0;
    padding: 10px 24px;
    cursor:pointer;
    transition:ease-out;
}
.btn.btn21:hover {background-color: #ff004f}

.btn.btn21:active {
  background-color: #ff004f;
  box-shadow: 0 5px #080808;
  transform: translateY(4px);
}
.contact-right form{
    width:100%;
}
form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:18px;
    border-radius: 6px;
}
form.btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
}
.copyright{
    width:100%;
    text-align:center;
    padding:25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/*----------------------CSS for small screens---------*/

[class*="col-"] {
    width: 100%;
  }

  nav .fa{
    display:none;
  }
  
  @media only screen and (max-width: 600px) {
  
    /* For tablets: */
    /*.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }*/
  /*@media only screen and (min-width: 768px) {
    /* For desktop: */
    /*.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }*/
  
  #header {
    background-image: url('https://github.com/aksh0506/akshay-portfolio/blob/main/AI_Phone%20Background.png');
  }
  .header-text h1:nth-child(1){
    font-size: 20px;
  }
  .header-text h1:nth-child(2){
    font-size: 70px;
  }
  .btn12 {
    font-size: 16px;
    position: absolute;
    top: 450px;
    left: 160px;
  }

  nav .fa{
    display:block;
  }
  nav ul{
    background: #080808;
    position: fixed;
    top: 0;
    right:-200px;
    width:200px;
    height:100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s ease-out;
  }
  nav ul li{
    display:block;
    margin: 25px;
  }
  nav ul .fa{
    position:absolute;
    top:25px;
    left: 25px;
    cursor:pointer;
  }
  nav ul .active{
    background:#ff004f;
  }
  }

  /*----------------Scoll up------------------------*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: inherit;
  }
